<div class="items">
    <div class="buttons">
        <button nz-button nzType="primary">河长制</button>
        <button nz-button nzType="primary">水利贷金</button>
        <button nz-button nzType="primary">水资源管理</button>
        <button nz-button nzType="primary">水利工程建设</button>
        <button nz-button nzType="primary">安全生产</button>
        <button nz-button nzType="primary">水利设施运行</button>
        <button nz-button nzType="primary">水土保持</button>
        <button nz-button nzType="primary">农村生活污水治理</button>
        <button nz-button nzType="primary">水旱灾害防御</button>
        <button nz-button nzType="primary">水文监测</button>
    </div>
    <div class="project">

    </div>
</div>