:host {
    .items {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .frame {
            width: 85%;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            height: 450px;
            margin-bottom: 50px;

            .condition {
                flex: 1;
            }

            .message {
                flex: 1;
                margin-left: 20px;
                margin-right: 20px;
            }

            .supervise {
                flex: 1;
                div {
                    margin: 0 auto;
                }
            }

        }

        .water-table {
            width: 85%;
            height: 240px;
            margin: 0 auto;
        }
    }

    th {
        background-color: #70a1ff;
        text-align: center;
    }

    td {
        text-align: center;
    }

}