<div class="items">
    <div class="frame">

        <nz-card class="condition" nzTitle="工作状态" [nzExtra]="extraTemplate">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>

        </nz-card>
        <ng-template #extraTemplate>
            <a>More</a>
        </ng-template>

        <nz-card class="message" nzTitle="消息提醒" [nzExtra]="extraTemplate">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </nz-card>
        <ng-template #extraTemplate>
            <a>More</a>
        </ng-template>

        <nz-card class="supervise" nzTitle="督查计划表" [nzExtra]="extraTemplate">
            <div [ngStyle]="{ width: '500px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
                <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)"
                    (nzPanelChange)="onPanelChange($event)">
                </nz-calendar>
            </div>
        </nz-card>
        <ng-template #extraTemplate>
            <a>More</a>
        </ng-template>

    </div>
    <div class="water-table">

        <nz-table #basicTable [nzData]="listOfData">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>河道名称</th>
                    <th>行政区别</th>
                    <th>所属街道</th>
                    <th>问题岸段</th>
                    <th>问题分类</th>
                    <th>问题描述</th>
                    <th>督查组</th>
                    <th>首次发现时间</th>
                    <th>问题状态</th>
                    <th>修改情况</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>